<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
			rel="icon"
			type="image/x-icon"
			href="../../../Upload/Logo/logo.png"
	/>
    <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
    <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="">
        <div class="">
            <div class="">
                <img src="../../../Upload/Logo/logo.png" alt="">
                <p class="">Hyper <br> Store</p>
            </div>
            <div>
                <ul class="">
                    <li class=""><a href="">Trang chủ</a></li>
                    <li class=""><a href="">Sản phẩm</a><i class="fa-solid fa-angle-down"></i></li>
                    <li class="">Giới thiệu</li>
                    <li class="">Tin tức</li>
                    <li class="">Liên hệ</li>
                </ul>
            </div>
            <div class="icon">
                <ul class="flex">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-heart"></i></li>
                    <li><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>